.form {
  padding-bottom: 30px;
  border-bottom:1px solid #000;

  .error-msg {
    text-align: center;
    font-size: 14px;
    color: #ff0000;
    margin-bottom: 8px;
  }

  .submit-btn {
    margin-top: 20px;
  }
}
