<div class="container">
  <h1>MetHotels - 3937</h1>

  <div class="form">
    <h3 class="ui header">Register New Room</h3>
    <div class="field">
      <input
        name="number"
        type="number"
        placeholder="Room number"
        id="number"
        #newNumber
      />
    </div>
    <div class="field">
      <input
        name="size"
        type="number"
        placeholder="Room size"
        id="size"
        #newSize
      />
    </div>
    <div class="field">
      <input
        name="price"
        type="number"
        placeholder="Room price"
        id="price"
        #newPrice
      />
    </div>
    <button (click)="addRoom(newNumber, newSize, newPrice)">Submit</button>
  </div>

  <div class="rooms">
    <div class="rooms__search">
      <h3>Search within the price range</h3>
      <input
        [(ngModel)]="searchText"
        type="number"
        placeholder="Insert how much you are willing to pay"
      />
    </div>
    <div class="rooms__list-head">
      <div class="rooms__list-head__title">Options</div>
      <div class="rooms__list-head__title">Number</div>
      <div class="rooms__list-head__title">Size</div>
      <div class="rooms__list-head__title">Price</div>
    </div>
    <app-hotel-room
      *ngFor="let hotelRoom of hotelRooms | filterPipe: searchText; index as i"
      [hotelRoom]="hotelRoom"
      (roomToDelete)="deleteRoom($event)"
      (updateRoom)="setUpdateFormValues($event)"
    >
    </app-hotel-room>
  </div>
  <button (click)="randomizeRooms()" class="randomize">Randomize</button>

  <div class="form update-room">
    <h3 class="ui header">Update Room: <span id="room-number"></span></h3>
    <input type="hidden" id="numberToChange" #updateNumber />
    <div class="field">
      <label class="rooms__list-head__title">Size (m2)</label>
      <input
        name="size"
        type="number"
        placeholder="Room size"
        id="update-size"
        #updateSize
      />
    </div>

    <div class="field">
      <label class="rooms__list-head__title">Price ($)</label>
      <input
        name="price"
        type="number"
        placeholder="Room price"
        id="update-price"
        #updatePrice
      />
    </div>
    <button (click)="updateRoomHandler(updateNumber, updateSize, updatePrice)">
      Update
    </button>
  </div>
</div>
