.rooms {
  &__list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__title {
      font-size: 20px;
      font-weight: bold;
      width: 25%;
      margin-left: 5px;
      border-bottom: 1px solid #000;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }

  &__search {
    text-align: center;
    input {
      width: 40%;
      margin-bottom: 40px;
    }
  }
}

.form {
  margin: 50px 0;

  &.update-room {
    text-align: center;
    display: none;

    input, label{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.active {
      display: block;
    }
  }
}
