.hotel-room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__single {
    width: 25%;
    font-size: 20px;
    border-left: 1px solid #000;

    margin: 15px 0;
    padding: 6px 0;
    padding-left: 20px;

    &.options {
      display: flex;
    }
  }
}

.price-calculator {
  display: none;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;

  .flex{
    display: flex;
    max-width: 280px;
    margin:0 auto;
  }

  label{
    display: block;
    text-align: center;
    font-weight:bold;
    margin-bottom: 10px;
  }

  &.active {
    display: block;
  }
}
