/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Arial", sans-serif;
}

.container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  font-size: 18px;
}

input {
  display: block;
  margin: 0 auto;
  padding: 4px 12px;
  margin-bottom: 8px;
  font-size: 16px;
}

button {
  margin: 0 auto;
  display: block;
  border: none;
  padding: 15px 30px;
  color: #fff;
  background-color: #4949c2;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #3939a2;
  }
}
